#log {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin-right: 700px;
    border-radius: 20px;
    margin-left: 300px;
    margin-top: 100px;
    background: #fff;
    opacity: 0.8;
}

#up {
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 50px;
}

#button {
    color: white;
    height: 50px;
    width: 550x;
    background-color: #396C78;
    border-radius: 5px;
}

::-webkit-input-placeholder {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
