<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../css/forget.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-app="login" ng-controller="loginCtrl">

    <div class="page-header" style=" background-color:#002727 ; height:120px">
        <center>
            <label style="color:#006F59 ;font-size:80px">Movie App</label>
        </center>></div>
    <h1 style="color:#006F59">
        <center>Forget Password</center>
    </h1>
    <div id="log">

        <form name="myForm" style="margin: 20px" class="" id="up" novalidate>


            <br>
            <h2> Enter Email Id or Mobile Number</h2>
            <input type="text" name="un" style="height:30px" size= 40 placeholder="enter Emial or Mobile No.">

            <br>
            <br>
            <Button type="Submit" id="button" value="Submit" style="width:320px"> Submit
            </Button>

        </form>
    </div>
</body>

</html>