<head>
    <link rel="stylesheet" href="../css/home.css">

    <body>
        <div id="log">
            <br>

            <form name="myForm" id="up" novalidate>

                <h1>
                    <center>
                        <u>ABOUT</u>
                    </center>
                </h1>
                <br>
                <p>This list of free movie apps will put hundreds of free streaming movies at your fingertips. Install them
                    onto your smartphone or tablet and you'll be ready to watch the free movie of your choice in only a few
                    minutes time. Not only do these free movie apps allow you to watch movies, but many also allow you to
                    watch free streaming TV shows right from your phone or tablet. This is a great way to catch up on your
                    favorite shows when you're on the go. The free movies you can access from the free movie apps include
                    comedy, action, horror, drama, documentary, family, and many other types of films. There really is something
                    for everyone.

                </p>

            </form>
        </div>
    </body>